section
  .wrapper
    .image.image-sky.move(data-speed = '10')
    .image.image-dune
    .image.image-mountain-one.move(data-speed = '7.5')
    .image.image-mountain-two.move(data-speed = '7.5')
    .blur.move(data-speed = '-.25')
section.section-content-text
  h1.fade(data-speed = '1') Mojave desert
  h2.fade(data-speed = '1') Defined by a combination of latitude, elevation, geology, and plants.
section.section-content-area.mobile
  .bg.fade(data-speed = '1')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Mojave preserve camping
      h3.fade-fromMargin(data-speed = '.5') Nothing says hitting the wilderness like unfurling the canvass and hammering in the pegs.
  .bg.fade(data-speed = '1')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Hike the Arch Rock nature trail
      h3.fade-fromMargin(data-speed = '.5') Coming with some astounding views, intriguing glimpses of Mojave Desert plants and wildlife, and tastes of the arid backcountry of SoCal.
  .bg.fade(data-speed = '1')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Conquer the Kelso Dunes
      h3.fade-fromMargin(data-speed = '.5') This result is a row of summits that soar more than 200 meters, clad in tough grasses and natural ripples.
  .bg.fade(data-speed = '1')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Drive the old route 66
      h3.fade-fromMargin(data-speed = '.5') The spirit of the Wild West continues with sightings of the colossal Kelso Dunes and the ochre-tinted Amboy Crater
section.section-content-area.desktop
  .bg.fade(data-speed = '1.5')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Mojave preserve camping
      h3.fade-fromMargin(data-speed = '.5') Nothing says hitting the wilderness like unfurling the canvass and hammering in the pegs.
  .bg.fade(data-speed = '3')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Hike the Arch Rock nature trail
      h3.fade-fromMargin(data-speed = '.5') Coming with some astounding views, intriguing glimpses of Mojave Desert plants and wildlife, and tastes of the arid backcountry of SoCal.
  .bg.fade(data-speed = '1.5')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Conquer the Kelso Dunes
      h3.fade-fromMargin(data-speed = '.5') This result is a row of summits that soar more than 200 meters, clad in tough grasses and natural ripples.
  .bg.fade(data-speed = '3')
    .progress-line.line
    .container-text
      h3.fade-fromMargin(data-speed = '.5') Drive the old route 66
      h3.fade-fromMargin(data-speed = '.5') The spirit of the Wild West continues with sightings of the colossal Kelso Dunes and the ochre-tinted Amboy Crater
section.section-info-area.mobile
  h2.fade(data-speed = '1') To enjoy a successful desert excursion, you must prepare yourself.
  .container-row.fade(data-speed = '1')
    .container-column.fade-mobile(data-speed = '1')
      .container-column-logo
      h2 Water
    .container-column.fade-mobile(data-speed = '1')
      .container-column-logo
      h2 Sunscreen
    .container-column.fade-mobile(data-speed = '1')
      .container-column-logo
      h2 Sunglasses
    .container-column.fade-mobile(data-speed = '1')
      .container-column-logo
      h2 Proper clothes
    .container-column.fade-mobile(data-speed = '1')
      .container-column-logo
      h2 Hiking Boots
    .container-column.fade-mobile(data-speed = '1')
      .container-column-logo
      h2 Multi-tools
section.section-info-area.desktop
  h2.fade(data-speed = '1') To enjoy a successful desert excursion, you must prepare yourself.
  .container-row.fade(data-speed = '1')
    .container-column.fade-fromMarginLeft(data-speed = '2.5')
      .container-column-logo
      h2 Water
    .container-column.fade(data-speed = '1')
      .container-column-logo
      h2 Sunscreen
    .container-column.fade-fromMarginRight(data-speed = '2.5')
      .container-column-logo
      h2 Sunglasses
    .container-column.fade-fromMarginLeft(data-speed = '2.5')
      .container-column-logo
      h2 Proper clothes
    .container-column.fade(data-speed = '1')
      .container-column-logo
      h2 Hiking Boots
    .container-column.fade-fromMarginRight(data-speed = '2.5')
      .container-column-logo
      h2 Multi-tools
section.contact
  .containter-contact
    a(href='mailto:gardellimarius@gmail.com' subject='subject text').item.fade-no-scrub(data-speed='1')
    a(href='https://github.com/gardellimarius').item.fade-no-scrub(data-speed='1')
    a(href='https://twitter.com/gardelli_marius').item.fade-no-scrub(data-speed='1')
